@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap");

/********************* ESTILO A ALGUNAS COSAS COMUNES *********************/
/*Estilo al cuerpo*/
body{
	font-family: 'Raleway', sans-serif; /*La fuente que utilizará la página*/
	font-weight: 400; /*De forma predeterminada utilizará la 400*/
	margin: 0; /*Eliminamos los márgenes que deja de forma predeterminada*/
	background-color: rgb(244, 244, 244); /*Color de fondo*/
	color: rgb(0, 0, 0); /*Color predeterminado del texto*/
}

/*Estilo a los enlaces*/
a{
	text-decoration: none; /*Quitamos el subrayado de los enlaces*/
	color: rgb(189, 55, 0); /*De forma predeterminada serán de color rojo*/
}

/*Estilo predeterminado a los títulos*/
h1, h2{
	font-size: 1.5rem; /*Tamaño*/
	text-align: center; /*Alineación*/
	margin: 25px 0 10px 0; /*Márgenes (top, right, bottom, left)*/
}

/*Estilo predeterminado a los párrafos*/
p{
	font-size: 1.1rem; /*Tamaño*/
	margin: 10px 0; /*Márgenes*/
}

/*Clase negrita, pone el texto en negrita*/
.Negrita{
	font-weight: bold;
}

/*Clase que pone el texto en cursiva*/
.Cursiva{
	font-style: italic;
}

/*Contenedor centrado que ocupará el 70% del ancho en escritorio y 95% en móviles*/
.Contenedor{
	width: 70%;
	margin: auto; /*Lo centramos*/
}

/*Si el ancho es menor de 767px (moviles) no se aplica el 70% de ancho al contenedor*/
@media screen and (max-width: 767px), screen and (orientation: portrait) {
	.Contenedor{
		width:95%;
	}
}

/************************* CABECERA *************************/
header{
	background-color: white; /*Color de fondo blanco*/
	padding-top: 20px; /*Añadimos un relleno superior para que no esté tan pegado*/
}

/*Si el ancho es menor de 767px (moviles) se centra el texto*/
@media screen and (max-width: 767px), screen and (orientation: portrait) {
	header{
		text-align: center;
	}
}

/*Tamaño del Lema*/
#LemaHeader{
	font-size: 0.9rem;
}

/*Tamaño del Titular*/
#TitularHeader{
	font-weight: 800; /*Utilizará el tipo de letra extra-bold*/
	font-size: 3.4rem;
}

/*Cambiamos el color del enlace que hay en TitularHeader*/
#Header a:link, a:visited{
	color: rgb(0, 0, 0);
}

/************************* MAIN *************************/
main{
	padding:0;
	margin: 0;
}
/******* MENÚ PRINCIPAL *******/
#MenuPrincipal{
	position: sticky; /*Que se muestre aunque hagamos scroll*/
	top: 0px;  /*Y permanezca en lo más alto*/
	background-color: rgb(255, 255, 255);
	padding: 15px 0; /*Añadimos un relleno de 15px arriba y abajo*/
	font-weight: 800; /*Tipo de letra extra-bold*/
	font-size: 0.9rem; /*Tamaño de texto*/
}

/*Quitamos los puntos a la lista desordenada que forma el menú*/
#MenuPrincipal ul{
	list-style: none;
	padding: 0; /*También quitamos el relleno*/
	margin: 0; /*Y márgenes*/
}

#MenuPrincipal li{
	display: inline-block; /*Uno al lado de otro*/
	padding-right: 20px; /*Separados 20 píxeles hacia la derecha*/
}

/*Colocamos los elementos del menú uno encima de otro (móviles)*/
@media screen and (max-width: 767px), screen and (orientation: portrait) {
	#MenuPrincipal li{
		padding: 3px 0; /*Añadimos relleno arriba y abajo para separarlos*/
		display: block; /*Uno encima de otro*/
		text-align: center; /*Texto centrado*/
	}
}

/*Le damos estilo a los enlaces del menú*/
#MenuPrincipal li a{
	color: rgb(0, 0, 0);
}

/*Que los enlaces se pongan grises al pasar por encima*/
#MenuPrincipal li a:hover{
	color: rgba(0, 0, 0, 0.5);
}

/*Clase que pone de color rojo los enlaces donde nos encontramos*/
.Actual{
	color: rgb(189, 55, 0) !important; /*Si no se pone importante no se aplica*/
}

/******* CUERPO INDEX *******/
/*Sección 1. Fondo llamas*/
#Seccion1a{
	height: 250px; /*Tendrá un alto de 250 píxeles*/
	background-image: url("../images/bg-hero-home.jpg"); /*La sección tendrá esa imagen de fondo*/
	background-repeat: no-repeat; /*El fondo no se repite*/
	background-size: 100%; /*El fondo ocupará todo el ancho de la sección*/
	display: flex; /*Centramos el texto verticalmente*/
}

/*Texto de la Sección 1*/
#Seccion1a h3{
	color: rgb(255, 255, 255); /*Color blanco*/
	font-weight: 400; /*Tipo de letra normal*/
	font-size: 2.6rem; /*Tamaño*/
	line-height: 4rem; /*Espaciado entre líneas*/
}

/*Añadimos un margen inferior de 60px a la sección 2 y 3*/
#Seccion2a, #Seccion3a{
	margin-bottom: 60px;
}

/******* FORMULARIO DEL INDEX *******/
#Seccion4a{
	padding: 10px 0 50px 0; /*Añadimos un relleno arriba y abajo*/
	background-color: rgb(242, 232, 228); /*Fondo de color salmón*/
}

/*El formulario tendrá un ancho del 70% del bloque que lo contiene y estará centrado*/
form{
	width: 70%;
	margin: auto;
}

/*Los enlaces del formulario serán de color rojo*/
form a{
	color:rgb(189, 55, 0) !important; /*Si no se pone como importante no se aplica*/
}

/*Estilo a los input nombre y email*/
#Nombre, #Email{
	display: block; /*Uno debajo de otro*/
    width: 95%; /*Ancho*/
    margin-bottom: 10px; /*Separación entre inputs*/
    padding: 10px; /*Relleno*/
}

/*El tamaño de la letra del formulario será pequeñito*/
form p, label{
	font-size: 0.6rem
}

/*Estilo al botón*/
button{
    padding: 10px 20px;
	color: rgb(255, 255, 255); /*Color de texto blanco*/
    border: none; /*Sin borde*/
    border-radius: 0px; /*Borde cuadrado*/
    background-color: rgb(189, 55, 0); /*Color de botón rojo*/
	margin-top: 10px; /*Para que no esté pegado al checkbox*/
}

/******* ESTILO DE LOS FLEXBOX DE TODAS LAS PÁGINAS *******/
/**** Flexbox del index ****/
#FlexboxNoticias{
    display: flex; /*Los elementos se mostrarán como cajas flexibles*/
    gap: 30px; /*Espaciado entre cajas*/
}

/*Cada caja que contiene la noticia ocupará un tercio del ancho*/
.CajaNoticia{
    flex: 1 1 0; /*Para que todos los elementos tengan el mismo punto de inicio y permitan que crezcan*/
}

/*La imagen de la noticia ocupará todo el ancho de la caja*/
.CajaNoticia img{
	width: 100%;
}

/*Tamaño de la fecha*/
.CajaNoticia p.Fecha{
    font-size: 0.8rem; 
    margin: 7px 0;  /*Le ponemos un margen superior e inferior para que no esté pegado a la imagen*/  
}

/*Estilo al titulo de la noticia*/
.CajaNoticia h3{
	font-size: 0.9rem; /*Tamaño*/
	margin: 0; /*Le quitamos el margen ya que la fecha y el párrafo lo incorporan*/
	font-weight: 600; /*Tipo de letra bold*/
}

/*Tamaño del texto de la noticia*/
.CajaNoticia p{
	font-size: 0.8rem;
}

/*Los enlaces de las cajas son de color rojo*/
.CajaNoticia a, .CajaSintoma a{
    color:rgb(189, 55, 0);
}

/*Creamos una clase para darle estilo a los enlaces que hay en las cajas*/
.LinkPunteado{
	font-weight: 800; /*Tipo de letra extra-bold*/
	font-size: 0.75rem; /*Tamaño*/
	border-bottom: 1px dotted rgb(189, 55, 0); /*Y un borde punteado inferior de 1 pixel*/
}

/**** Flexbox de los Síntomas ****/
/*Le añadimos unos margenes superior e inferior*/
#FlexboxSintomas{
	margin: 20px 0 60px 0; 
}

/*Le damos estilo a la caja de los síntomas*/
.CajaSintoma{
	display: flex; /*Los elementos se mostrarán como cajas flexibles*/
	width: 65%; /*Cada caja tendrá un ancho del 65% (respecto al contenedor)*/
    background-color: rgb(255, 255, 255);
	padding: 12px; /*Le aplicamos un poco de relleno a los 4 lados*/
	margin-bottom: 30px;
	border-radius: 10px; /*Que el borde sea redondeado*/
}

/*Esta clase hace que la caja de síntoma se posicione a la derecha*/
.Derecha{
	float: right;
}

/*Estilo a la imagen de cada caja de síntomas*/
.CajaSintoma img{
	width: calc(50% - 6px); /*La imagen ocupará la mitad de la caja (Le quitamos la mitad del padding)*/
	/*height:fit-content;*/ /*Para que la imagen mantenga su relación de aspecto*/
	object-fit: cover; /*Se dedide utilizar el cover para que no se deforme en vez del "fit-content"*/
	margin-right: 15px; /*Le ponemos un margen para que la descripción no esté pegada*/
}

/*Tipo de letra que tendrá el título del síntoma*/
.CajaSintoma h3{
	font-weight: 600; /*Tipo bold*/
	margin: 0;
}

/*Tipo de letra que tendrá el párrafo del síntoma*/
.CajaSintoma p{
	font-size: 0.8rem;
	text-align: justify; /*Alineación justificada*/
	hyphens: auto; /*Que no extienda los espacios, que ponga guiones*/
}

/**** Flexbox de los vídeos ****/
#FlexboxVideos{
	margin: 30px 0 60px 0; /*Añadimos unos márgenes superior e inferior*/
    display: flex; /*Los elementos se mostrarán como cajas flexibles*/
    gap: 20px; /*Espaciado entre elementos*/
	flex-wrap: wrap; /*Para controlar la dirección como serán apilados los elementos*/
}

/*Tamaño de cada caja y color de fondo*/
.CajaVideo{
	background-color: rgb(255, 255, 255);
	flex-basis: calc(50% - 10px); /*Al tamaño le quitamos 10 porque tiene 20 de gap*/
}

/*Tamaño del vídeo*/
.CajaVideo iframe{
	width: 100%;
	height: 200px;
}

/*Estilo a la leyenda de cada vídeo*/
.Leyenda{
	font-size: 0.7rem; /*Tamaño*/
	font-weight: bold; /*Negrita*/
	font-style: italic; /*Cujrsiva*/
	padding: 15px 0;
	width: 90%; /*Ancho*/
	margin: auto; /*Centrado el div*/
	text-align: center; /*Centrado el texto*/
}

/*Clase que pone el texto normal*/
.TextoNormal{
	font-weight: normal;
	font-style: normal;
}

/**** Flexbox del Cop26 ****/
#FlexboxCop26{
	display: flex; /*Los elementos se mostrarán como cajas flexibles*/
	gap: 60px; /*Espaciado entre columnas*/
	margin-bottom: 60px;
}
	
/*Cada columna será del mismo tamaño*/
.CajaColumna{
	flex: 1 1;
}

/*Alineación y tamaño de los títulos de cada columna*/
.CajaColumna h2{
	font-size: 1.2rem;
	text-align: left;
	margin-bottom: 20px;
}

/*Estilo a los subtítulos de cada columnba*/
.CajaColumna h3{
	font-size: 1.3rem;
	margin: 0;
	font-weight: 600; /*Tipo bold*/
	font-variant: small-caps; /*Versálitas*/
}

/*Estilo a la imagen que hay en la columna 1*/
.CajaColumna img{
	width: 100%;
	max-width: 300px; /*Nunca podrá medir más de 300px de ancho*/
	height: auto;
}

/*Estilo al párrafo de las columnas*/
.CajaColumna p{
	margin: 0 0 15px 0;
	font-size: 1rem;
}

/*Clase que justifica el texto de los párrafos*/
.Justificado p{
	text-align: justify;
	hyphens: auto; /*Que no extienda los espacios, que ponga guiones*/
}

/*Estilo a la lista numerada*/
.CajaColumna ol li{
	margin: 15px 0;
	line-height: 1.4rem; /*Espaciado entre líneas*/
	text-align: justify;
	hyphens: auto; /*Que no extienda los espacios, que ponga guiones*/
}

/*Estilo al blockquote*/
blockquote{
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    border-left: 6px solid rgb(189, 55, 0); /*Borde rojo de 6 píxeles*/
    padding: 15px;
	margin: 0 0 20px 0;
	font-style: italic; /*Cursiva*/
}

/*Adaptamos el main a móviles*/
@media screen and (max-width: 767px), screen and (orientation: portrait) {
	#Seccion1a h3{
		font-size: 2.1rem;
	}

	#FlexboxNoticias, #FlexboxVideos, #FlexboxCop26{
		display:block; /*Que no se muestre como cajas flexibles*/
	}

	.CajaSintoma{
		display: block; /*Los elementos se mostrarán como cajas flexibles*/
		width: 90%;
		margin: auto;
	}

	.Derecha{
		float: none;
	}

	.CajaSintoma img{
		padding-top: 15px;
		width: 100%;
		margin-bottom: 10px;
	}

	.CajaNoticia, .CajaSintoma, .CajaVideo{
		margin-bottom: 30px;
	}

	form{
		width: 90%;
	}
}

/************************* PIE *************************/
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 30px 0 10px 0;
	font-size: 0.8rem;
	font-weight: 400; /*Tipo de letra normal*/
}

/*Estilo a los menus del pie*/
#MenuTerminosLegales ul, #MenuRedesSociales ul{
	list-style: none;
	padding: 15px 0 0 0;
	margin: 0;
}

/*Elementos del menu TerminosLegales*/
#MenuTerminosLegales li{
	display: inline-block; /*Uno al lado de otro*/
	padding-right: 20px; /*Separados 20 píxeles*/
}

#MenuRedesSociales li{
	display: inline-block; /*Uno al lado de otro*/
	margin: 10px 0;
}

/*Ños enlaces del menu en color blanco*/
#MenuTerminosLegales li a{
	color: rgb(255, 255, 255);
}

/*El color al pasar sobre los enlaces será rojo*/
#MenuTerminosLegales li a:hover{
	color: rgb(189, 55, 0);
}

/*Tamaño de la letra autor*/
#Autor p{
	font-size: 0.8rem;
}

/*Estilo al link que lleva arriba*/
#EnlaceInterno{
	text-align: right;
	margin-right: 20px;
	font-size: 2rem;
}

#EnlaceInterno a{
	color: rgb(255, 255, 255);
}

#EnlaceInterno a:hover{
	color: rgb(189, 55, 0);
}

/*Versión móvil del footer*/
@media screen and (max-width: 767px), screen and (orientation: portrait) {
	footer{
		text-align: center;
	}
	
	#MenuTerminosLegales li{
		display: block; /*Uno encima del otro*/
		padding-right: 20px; /*Separados 20 píxeles*/
	}
}


